BODY
{
    BACKGROUND-COLOR: #FFFFFF;
    COLOR: #333366;
    FONT-FAMILY: 'Microsoft Sans Serif'
}
H1
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Microsoft Sans Serif';
    TEXT-TRANSFORM: capitalize
}
H2
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Microsoft Sans Serif';
    TEXT-TRANSFORM: capitalize
}
H3
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Microsoft Sans Serif';
    TEXT-TRANSFORM: capitalize
}

H4
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Microsoft Sans Serif';
    TEXT-TRANSFORM: capitalize
}

H5
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Microsoft Sans Serif';
    TEXT-TRANSFORM: capitalize
}
H6
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Microsoft Sans Serif';
    TEXT-TRANSFORM: capitalize
}
TH {
 color: #6060cc
}

.body {
	font-family: 'Microsoft Sans Serif';
	font-size: 10pt;
}
